
<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %></div>
    <a href='/students/<%= student.id %>'>student</a>
    
    <span><%= link_to student, student_path(student) %></span>
    <% end %>
</div>